[submodule "paper1"]
	path = paper1
	url = ssh://pamd.sc.fsu.edu/~efb06/repos/paper1.git
[submodule "keeneland_benchmarks"]
	path = keeneland_benchmarks
	url = git@github.com:bollig/Benchmarks.git
[submodule "spear_benchmarks"]
	path = spear_benchmarks
	url = ssh://pamd.sc.fsu.edu/~efb06/repos/spear_benchmarks.git
[submodule "prospectus"]
	path = prospectus
	url = ssh://pamd.sc.fsu.edu/~efb06/repos/prospectus.git
[submodule "fsu_2012"]
	path = fsu_2012
	url = git@github.com:bollig/fsu_2012.git
[submodule "locality_sensitive_hashing"]
	path = locality_sensitive_hashing
	url = ssh://efb06@pamd.sc.fsu.edu/~/repos/locality_sensitive_hashing.git
[submodule "paper2"]
	path = paper2
	url = ssh://pamd.sc.fsu.edu/~efb06/repos/paper2.git
