[submodule "paper1"]
	path = paper1
	url = ssh://pamd.sc.fsu.edu/~efb06/repos/paper1.git
[submodule "keeneland_benchmarks"]
	path = keeneland_benchmarks
	url = git@github.com:bollig/Benchmarks.git
[submodule "spear_benchmarks"]
	path = spear_benchmarks
	url = ssh://pamd.sc.fsu.edu/~efb06/repos/spear_benchmarks.git
[submodule "prospectus"]
	path = prospectus
	url = ssh://pamd.sc.fsu.edu/~efb06/repos/prospectus.git
