<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.30.0.155892</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1535.76, 587.88}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-12-03 03:15:11 -0700</string>
	<key>Creator</key>
	<string>Evan Bollig</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{823.645, 210.404}, {675.798, 301}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>36</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>472</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs72 \cf0 4) Generate stencils:\
    a) Compute stencil center hash ID\
    b) Jump to hash ID block in the\
        approximately sorted node list\
    c) If necessary, expand search to \
        neighboring blocks to complete\
        n-nearest neighbors query}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>471</integer>
			<key>Points</key>
			<array>
				<string>{744.935, 360.404}</string>
				<string>{848.935, 360.404}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>13</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{500.935, 6.84399}, {493.318, 129}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>36</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>468</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs72 \cf0 3) Approximately sort nodes \
    by hash ID (replace original \
    node indices)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{14.827, 0.797249}, {451, 129}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>36</real>
			</dict>
			<key>ID</key>
			<integer>467</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs72 \cf0 1) Overlay coarse grid\
2) Compute hash ID \
    (coarse grid cell index)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>24</integer>
			<key>Points</key>
			<array>
				<string>{500.935, 360.404}</string>
				<string>{604.935, 360.404}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>13</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{628.602, 510.121}, {76.7234, 76.7234}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>440</integer>
					<key>ImageID</key>
					<integer>7</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{628.602, 436.066}, {76.7234, 76.7234}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>441</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{628.602, 360.677}, {76.7234, 76.7234}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>442</integer>
					<key>ImageID</key>
					<integer>5</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{627.935, 285.955}, {77.3905, 76.7234}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>443</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{627.935, 211.233}, {77.3905, 76.7234}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>444</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{627.935, 135.844}, {77.3905, 76.7234}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>445</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>439</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{357.435, 473.154}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>448</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{244.935, 473.154}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>449</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{132.435, 473.154}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>450</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{19.9347, 473.154}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>451</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{357.435, 360.904}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>452</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{244.935, 360.904}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>453</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{132.435, 360.904}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>454</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{19.9347, 360.904}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>455</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{357.435, 136.404}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0.159031</string>
									<key>g</key>
									<string>0.13545</string>
									<key>r</key>
									<string>1</string>
								</dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>456</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green35\blue41;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs96 \cf2 4}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{244.935, 136.404}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0.159031</string>
									<key>g</key>
									<string>0.13545</string>
									<key>r</key>
									<string>1</string>
								</dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>457</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green35\blue41;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs96 \cf2 3}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{132.435, 136.404}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0.159031</string>
									<key>g</key>
									<string>0.13545</string>
									<key>r</key>
									<string>1</string>
								</dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>458</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green35\blue41;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs96 \cf2 2}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{19.9347, 136.404}, {112.5, 112.25}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0.159031</string>
									<key>g</key>
									<string>0.13545</string>
									<key>r</key>
									<string>1</string>
								</dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>48</real>
							</dict>
							<key>ID</key>
							<integer>459</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>Fuzziness</key>
									<real>1.5422108173370361</real>
									<key>ShadowVector</key>
									<string>{0, 0}</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green35\blue41;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs96 \cf2 1}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{357.435, 248.654}, {112.5, 112.25}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.159031</string>
											<key>g</key>
											<string>0.13545</string>
											<key>r</key>
											<string>1</string>
										</dict>
										<key>Font</key>
										<string>Helvetica</string>
										<key>Size</key>
										<real>48</real>
									</dict>
									<key>ID</key>
									<integer>461</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0</string>
												<key>b</key>
												<string>1</string>
												<key>g</key>
												<string>1</string>
												<key>r</key>
												<string>1</string>
											</dict>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Beneath</key>
											<string>YES</string>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>Fuzziness</key>
											<real>1.5422108173370361</real>
											<key>ShadowVector</key>
											<string>{0, 0}</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{244.935, 248.654}, {112.5, 112.25}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.159031</string>
											<key>g</key>
											<string>0.13545</string>
											<key>r</key>
											<string>1</string>
										</dict>
										<key>Font</key>
										<string>Helvetica</string>
										<key>Size</key>
										<real>48</real>
									</dict>
									<key>ID</key>
									<integer>462</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0</string>
												<key>b</key>
												<string>1</string>
												<key>g</key>
												<string>1</string>
												<key>r</key>
												<string>1</string>
											</dict>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Beneath</key>
											<string>YES</string>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>Fuzziness</key>
											<real>1.5422108173370361</real>
											<key>ShadowVector</key>
											<string>{0, 0}</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{132.435, 248.654}, {112.5, 112.25}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.159031</string>
											<key>g</key>
											<string>0.13545</string>
											<key>r</key>
											<string>1</string>
										</dict>
										<key>Font</key>
										<string>Helvetica</string>
										<key>Size</key>
										<real>48</real>
									</dict>
									<key>ID</key>
									<integer>463</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0</string>
												<key>b</key>
												<string>1</string>
												<key>g</key>
												<string>1</string>
												<key>r</key>
												<string>1</string>
											</dict>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Beneath</key>
											<string>YES</string>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>Fuzziness</key>
											<real>1.5422108173370361</real>
											<key>ShadowVector</key>
											<string>{0, 0}</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green35\blue41;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs96 \cf2 ...}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{19.9347, 248.654}, {112.5, 112.25}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.159031</string>
											<key>g</key>
											<string>0.13545</string>
											<key>r</key>
											<string>1</string>
										</dict>
										<key>Font</key>
										<string>Helvetica</string>
										<key>Size</key>
										<real>48</real>
									</dict>
									<key>ID</key>
									<integer>464</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>a</key>
												<string>0</string>
												<key>b</key>
												<string>1</string>
												<key>g</key>
												<string>1</string>
												<key>r</key>
												<string>1</string>
											</dict>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Beneath</key>
											<string>YES</string>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>Fuzziness</key>
											<real>1.5422108173370361</real>
											<key>ShadowVector</key>
											<string>{0, 0}</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green35\blue41;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs96 \cf2 5}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>460</integer>
						</dict>
					</array>
					<key>ID</key>
					<integer>447</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{18.9347, 135.844}, {451, 451}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>465</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>446</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{18.9347, 135.844}, {451, 451}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{627.935, 135.844}, {77.3906, 451}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>466</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image7.pdf</string>
		<string>image6.pdf</string>
		<string>image5.pdf</string>
		<string>image4.pdf</string>
		<string>image3.pdf</string>
		<string>image2.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-12-03 04:31:46 -0700</string>
	<key>Modifier</key>
	<string>Evan Bollig</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>12.12</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>12</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgRgDgWQChg==</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>12.12</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>12</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>FitInWindow</key>
		<true/>
		<key>Frame</key>
		<string>{{47, 220}, {1460, 958}}</string>
		<key>ListView</key>
		<false/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>Sidebar</key>
		<false/>
		<key>SidebarWidth</key>
		<integer>138</integer>
		<key>VisibleRegion</key>
		<string>{{2.0998, -150.95}, {1532.85, 891.363}}</string>
		<key>Zoom</key>
		<real>0.95247393846511841</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.0</real>
				<real>0.91927081346511841</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
